.masterContainer {
    height: 100vh;
    padding: 0px;
    display: flex;
}

.contacts-selector {
    background-color: white;
    border-right: 1px solid gray;
    width: 350px !important;
    min-width: 350px;
    padding: 0px;

    transition-property: left;
    transition-duration: 300ms;
}

.background-chat-section {      /* Background chat section for initial page before choose a contact to chat */
    background: url('../background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
}

.background-chat-section > div {
    height: 100%;
    background: rgba(128, 128, 128, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}

.background-chat-section > div > div {
    background-color: rgba(158, 158, 158, 0.8);
    border: 2px solid gray;
    padding: 10px;
    border-radius: 5px;
}

.background-chat-section p {
    font-style: italic;
}

.chat-container {
    padding: 0px;
}

.sidenav_btn {
    position: absolute;
    top: 50px;
    left: 350px;

    border: 2px solid lightgray;
    border-radius: 5px;
    background-color: rgb(20, 21, 24);
    color: white;

    transition-property: left;
    transition-duration: 300ms;
}

::-webkit-scrollbar {
    width: var(--scroll-width);
    background-color: transparent;
}

::-webkit-scrollbar-track {
    width: var(--scroll-width);
}

::-webkit-scrollbar-thumb {
    width: var(--scroll-width);
    background-color: rgb(172, 172, 172);
}



@media(max-width: 760px){
    .masterContainer {
        position: relative;
    }

    .contacts-selector {
        height: 100vh;
        left: 0px;
        position: absolute;
    }
}